{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME

    exclude_greeting = True
    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{{ prefix }} 欢迎加入 {{ app_name }}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            感谢您注册 {{ app_name }} ！
        </p>

        <p style="{{ p_style }}">你的登录名为：{{ recipient.username }}</p>

        <p style="{{ p_style }}">请马上点击以下注册确认链接，激活你的{{ recipient.username }}帐号！</p>

        <p style="{{ p_style }}"><a style="{{ a_style }}" href="{% fullurl auth_validate_email user=recipient.id,code=validation_code %}">{% fullurl auth_validate_email user=recipient.id,code=validation_code %}</a></p>

        <p style="{{ p_style }}">如果你通过点击以上链接无法访问，请将该网址复制并粘贴至新的浏览器窗口。</p>
        
        <p style="{{ p_style }}">本邮件由系统自动发送，请勿直接回复。</p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}Howdy and welcome to {{ app_name }}. We know you're busy, so we'll keep this real simple.{% endblocktrans %},
{% trans "Here's your login info (store it in a cool dry place):" %}

{% trans "Username: " %} {{ recipient.username }}
{% trans "Password: As IF we would send your password in cleartext!" %}

{% trans "Copy and paste this url into your web browser's address bar to help us verify your email address:" %}

{% fullurl auth_validate_email user=recipient.id,code=validation_code %}
{% endtextcontent %}

{% endemail %}

