{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = html.mark_safe(settings.EMAIL_SUBJECT_PREFIX)
    app_name = settings.APP_SHORT_NAME
    safe_app_name = html.mark_safe(settings.APP_SHORT_NAME)
    question_author = html.mark_safe(question.author.username)
    question_url = settings.APP_URL + question.get_absolute_url()
    question_title = html.mark_safe(question.title)
    question_tags = html.mark_safe(question.tagnames)
    safe_body = html.html2text(question.html)
    author_link = html.objlink(question.author, style=settings.EMAIL_ANCHOR_STYLE)
    question_link = html.objlink(question, style=settings.EMAIL_ANCHOR_STYLE)
    tag_links = html.mark_safe(" ".join([html.objlink(t, style=settings.EMAIL_ANCHOR_STYLE) for t in question.tags.all()]))
{% enddeclare %}

{% email %}
    {% subject %}{{ prefix }} 新的问题: {{ question_title }} on {{ safe_app_name }}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {{ author_link }} 刚提了一个新的问题 {{ question_link }}:
        </p>

        <blockquote>
            {{ question.html|safe }}
        </blockquote>

        <p style="{{ p_style }}">别忘了来评论和投票哦！</p>  
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}
{{ question_author }} has just posted a new question on {{ safe_app_name }}, entitled
"{{ question_title }}" and tagged {{ question_tags }}:
{% endblocktrans %}
{{ safe_body }}

{% trans "Don't forget to come over and cast your vote." %}
{% endtextcontent %}

{% endemail %}

